/* ../fonts */
@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../fonts/proximanova-bold-webfont.eot');
    src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-bold-webfont.woff') format('woff'),
         url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Bold Italic';
    src: url('../fonts/proximanova-boldit-webfont.eot');
    src: url('../fonts/proximanova-boldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-boldit-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-boldit-webfont.woff') format('woff'),
         url('../fonts/proximanova-boldit-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-boldit-webfont.svg#proxima_nova_rgbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Light';
    src: url('../fonts/proximanova-light-webfont.eot');
    src: url('../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-light-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-light-webfont.woff') format('woff'),
         url('../fonts/proximanova-light-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Light Italic';
    src: url('../fonts/proximanova-lightitalic-webfont.eot');
    src: url('../fonts/proximanova-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-lightitalic-webfont.woff') format('woff'),
         url('../fonts/proximanova-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-lightitalic-webfont.svg#proxima_novalight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* GERAL */
html, body {
    height: 100%;
    margin:0px;
}

body {
    background: url('../img/fundo.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Proxima Nova Light', Helvetica, Arial, sans-serif;
}

h1, h2 {
    font-family: 'Proxima Nova Bold', Helvetica, Arial, sans-serif;
    font-weight: normal;
}

h3 {
    font-family: 'Proxima Nova Light', Helvetica, Arial, sans-serif;
    font-weight: normal;
}

/* CONTAINER */
#page-wrapper {
    min-height:100%;
    position:relative;
    background-image: url('../img/leaves-left.png'), url('../img/leaves-right.png'),url('../img/montinho-topo.png'), url('../img/montinho-bottom.png');
    background-repeat: no-repeat;
    background-position: top left, top right, top right, 0px calc(100% - 1007px);
}

/* HEADER */
.header {
    padding: 50px 0px;
    color: #ffffff;
}

.logo {
    float: left;
    width: 50%;
}

.titulo {
    padding-top: 30px;
    text-align: right;
    width: 50%;
    float: right;
}

.navbar {
  border-radius: 0;
}

/* PRINCIPAL */
.content {
    background-color: #ffffff;
    border-radius: 10px;
    color: #454545;
    padding: 40px 0px;
}

/* LOGIN */
.green-button {
  background-color: #72c53e;
  border: none;
  color: #ffffff;
  border-radius: 10px;
  padding: 8px 20px;
  font-size: 20px;
  font-family: 'Proxima Nova Bold', Helvetica, Arial, Sans-serif;
  border-bottom: 5px solid #418914;
}

.login-form-container {
  padding: 30px 40px;
  background-color: #efefef;
  margin: 30px 0px;

  a {
    font-family: 'Proxima Nova Bold', Helvetica, Arial, Sans-serif;
    color: #4875a4;
    text-decoration: underline;

    &:visited, &active {
      font-family: 'Proxima Nova Bold', Helvetica, Arial, Sans-serif;
      color: #4875a4;
      text-decoration: underline;
    }

    &:hover {
      color: #72c53e;
      text-decoration: underline;
    }
  }

  input[type=text], textarea, input[type=password] {
      background-color: #ffffff;
      border: none;
      color: #454545;
      border-radius: 10px;
      padding: 12px;
      font-size: 16px;
      font-family: 'Proxima Nova Light', Helvetica, Arial, Sans-serif;
      width: 100%;
  }

}

.login-text-container {
  padding: 0 40px;
}

/* MAIN MENU */

#main-menu {
  .main-menu-item {
    a {
      text-decoration: none;
      font-family: 'Proxima Nova Ligth', Helvetica, Arial, Sans-serif;
      color: #454545;

      p {
        margin-top: 15px;
      }
    }
  }
}

/* RODAPE */
.footer {
  margin-top: 80px;
  padding-top: 30px;
  color: #fff;
  background-color: #4875a4;
  width: 100%;

  h2 {
    font-size: 1.5em;
  }

  p {
    margin: 0;
    font-size: 14px;
  }

  input[type=submit] {
    background-color: #324e6d;
    border: none;
    color: #ffffff;
    border-radius: 10px;
    padding: 8px 20px;
    font-size: 20px;
    font-family: 'Proxima Nova Bold', Helvetica, Arial, Sans-serif;
    border-bottom: 5px solid #0f192f;
    width: 100%;
  }

  input[type=text], textarea, input[type=password] {
    background-color: #ffffff;
    border: none;
    color: #454545;
    border-radius: 10px;
    padding: 12px;
    font-size: 16px;
    font-family: 'Proxima Nova Light', Helvetica, Arial, Sans-serif;
    width: 100%;

  }

  .has-error {
    input[type=text], textarea, input[type=password] {
      border: 1px solid #a94442 !important;
    }

    .help-block {
      margin-top: -10px;
    }
  }

}

.copyright {
    background-color: #324e6d;
    color: #ffffff;
    font-size: 13px;
    padding: 15px 0px;
    margin-top: 50px
}

#contact-form {
  input, textarea {
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  #page-wrapper {
      background-image: url('../img/leaves-left.png'), url('../img/leaves-right.png'),url('../img/montinho-topo.png'), url('../img/montinho-bottom.png');
      background-repeat: no-repeat;
      background-position: top left, top right, top right, 0px calc(100% - 987px);
  }
}

@media (min-width: 992px) {
  #page-wrapper {
      background-image: url('../img/leaves-left.png'), url('../img/leaves-right.png'),url('../img/montinho-topo.png'), url('../img/montinho-bottom.png');
      background-repeat: no-repeat;
      background-position: top left, top right, top right, 0px calc(100% - 484px);

  }
}

@media (min-width: 1200px) {
  .container {
      width: 970px;
  }

  #page-wrapper {
      background-image: url('../img/leaves-left.png'), url('../img/leaves-right.png'),url('../img/montinho-topo.png'), url('../img/montinho-bottom.png');
      background-repeat: no-repeat;
      background-position: top left, top right, top right, 0px calc(100% - 484px);
  }
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.bs-callout+.bs-callout {
  margin-top: -5px;
}

.bs-callout-danger {
  border-left-color: #ce4844;
}

.bs-callout-info {
  border-left-color: #1b809e;
}

.sort {
  &:hover, &:active, &:focus {
    text-decoration: none;
  }

  &::after {
    content: '\f0dc';
    margin-left: 5px;
    vertical-align: middle;
    font-family: FontAwesome;  
  }
  
  &.asc {
    &::after {
      content: '\f0de';
      font-family: FontAwesome;  
    }
  }  

  &.desc {
    &::after {
      content: '\f0dd';
      font-family: FontAwesome;  
    }
  }  
}